<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Signin Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/css/signin.css}" rel="stylesheet">
</head>

<body class="text-center">
<form class="form-signin" method="post" th:action="@{/postman/loginVerify}">
    <img class="mb-4" th:src="@{/img/bootstrap-solid.svg}" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal" >请登录</h1>
    <!--如果msg的值为空则不显示消息-->
    <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
    <input type="text" class="form-control" th:placeholder="手机号" required="" autofocus="" name="phone"><br>
    <input type="password" class="form-control" th:placeholder="密码" required="" name="password"><br><br>
    <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="登录">Sign in</button><p></p>
</form>


</body>

</html>